/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

body {
  display: grid;
  grid-template-rows: 100px 1fr 80px;
  font-family: sans-serif;
}
/* HEADER */
.header {
  display: grid;
  grid-template-rows: auto auto;
  place-items: center;
  gap: 1rem;
  padding: 0 1rem;
  position: sticky;
  top: 0;
  z-index: 1;
}
h1.header-logo {
  font-family: "Tangerine", serif;
  font-size: 28px;
  font-weight: bold;
  text-shadow: 4px 4px 4px #aaa;
}
.header-logo a {
  text-decoration: none;
  font-weight: bold;
  font-size: xx-large;
  color: #57636b;
}
.header-ul {
  display: grid;
  grid-auto-flow: column;
  gap: 2rem;
  padding: 0.5rem 0;
  justify-content: center;
  list-style: none;
  text-transform: uppercase;
  font-size: 1.1rem;
  border-bottom: 1px solid #57636b;
}
.header-ul a,
.header-signin {
  text-decoration: none;
  color: #57636b;
  font-weight: bold;
  cursor: pointer;
}
img {
  width: 100%;
}
.all-rest {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1rem;
}
.rest-categories {
  display: grid;
  grid-template-columns: auto auto;
  padding: 0.5rem;
  border: 1px solid black;
  gap: 0.6rem;
}
.rest-name {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(7, 6, 6);
}

.text-info {
  font-size: 10px;
  text-align: start;
  display: grid;
  gap: 0.3rem;
}
.active {
  outline: 1px solid #57636b;
  padding: 0.2rem;
  border-radius: 2px;
}
main {
  padding: 5rem;
  display: grid;
}
.restaurants-list {
  list-style: none;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}
.restaurant-list__item {
  outline: 1px solid black;
  position: relative;
  text-decoration: none;
  color: unset;
}
.item-info {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  margin-top: 3rem;
}
.item-info__category {
  position: absolute;
  top: 10px;
  left: -5px;
  text-transform: uppercase;
  padding: 0.2rem;
  font-weight: bold;
  font-size: 1.2rem;
  background-color: #57636b;
  color: white;
}
.item-info__title {
  text-transform: uppercase;
  font-size: x-large;
}
.item-info__details {
  letter-spacing: 1px;
}
.item-info__photo {
  display: grid;
  overflow: hidden;
}
.item-info__photo img {
  display: grid;
  margin-top: 2rem;
  height: 300px;
  object-fit: cover;
}
.categories-main {
  display: grid;
  place-content: center;
  outline: 1px solid black;
}
.category-list {
  width: 650px;
  list-style: none;
  display: grid;
  gap: 1rem;
}
.category-list__item {
  height: 150px;
  display: grid;
  font-weight: bold;
  font-size: 2rem;
  text-decoration: none;
  color: white;
  place-content: center;
  border-radius: 5px;
  background: rgb(106, 106, 106);
  background: linear-gradient(
    90deg,
    rgba(106, 106, 106, 1) 0%,
    rgba(87, 107, 105, 1) 46%,
    rgba(255, 42, 0, 1) 100%
  );
}
.category-list__item li {
  text-transform: uppercase;
}
.info__section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  place-content: center;
  gap: 3rem;
}
.restaurant-detail__info ul {
  display: grid;
  list-style-type: none;
  grid-auto-flow: row;
}
.restaurant-detail__info ul li {
  padding: 0.5rem 0rem;
}
.restaurant-detail_info_item {
  display: grid;
  border-top: 1px solid black;
  grid-template-columns: 1fr 4fr;
  gap: 1rem;
}
.restaurant-detail__photos ul {
  list-style: none;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.restaurant-detail__photos ul li img {
  border-radius: 5px;
}
.restaurant-detail__info span {
  font-weight: bold;
}
.restaurant-detail__info h4 {
  font-weight: 500;
  letter-spacing: 1px;
}
.restaurant {
  background-color: #57636b;
  width: min-content;
  color: white;
  padding: 0.2rem 1rem;
}
.restaurant_booking {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.restaurant_booking button {
  width: max-content;
  display: grid;
  border: none;
  padding: 0.4rem 1rem;
  font-size: 1.5rem;
  place-self: end;
  font-weight: bold;
  background: none;
  outline: 1px solid #57636b;
  color: #57636b;
  border-radius: 2px;
  cursor: pointer;
}
.restaurant_booking button:hover {
  background-color: #57636b;
  color: white;
}
.modal-wrapper {
  position: fixed;
  z-index: 10;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.774);
  display: grid;
  place-items: center;
}
.modal-container {
  position: relative;
  height: 100px;
  background-color: white;
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
  width: 300px;
  height: 400px;
  display: grid;
  justify-items: center;
  align-items: flex-start;
}
.modal-container span {
  position: absolute;
  top: -10px;
  display: grid;
  width: 20px;
  padding: 0.8rem;
  border-radius: 1rem;
  background-color: #57636b;
  height: 20px;
  color: white;
  border: 1px solid #57636b;
  place-content: center;
  cursor: pointer;
  right: -10px;
  font-size: 1rem;
}
.modal-container form {
  display: grid;
  gap: 1rem;
}
.modal-container form input {
  padding: 0.5rem;
}
.modal-container button {
  color: white;
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: #57636b;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
.modal-container.message {
  background-color: #88b719;
  height: auto;
}
.modal-container.message h3 {
  color: #000000;
}
.spinner {
  display: grid;
  place-items: center;
  height: 80vh;
  width: 100vw;
}
